/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; /* Fuente para el cuerpo del texto */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Estilos para títulos */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Sintony', sans-serif; /* Aplicamos la fuente Sintony a los títulos */
  font-weight: 700; /* Puedes ajustar el peso de la fuente según tus preferencias */
}
