/* EmailForm.module.css */

.formContainer {
    background-color: #edece3; /* Fondo gris claro para el contenedor */
    padding: 4rem;
    border-radius: 8px; /* Bordes redondeados */
    min-height: 100vh;
    width: 350px;
  }
  
  .form {
    background-color: white;
    margin-top: 100px;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #131313; /* Color naranja para el título */
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  .inputWithButton {
    display: flex;
  }
  
  .label {
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #374151; /* Color gris oscuro para las etiquetas */
  }
  
  .input {
    padding: 0.8rem;
    border: 1px solid #e5e7eb; /* Borde gris claro */
    border-radius: 4px;
    font-size: 0.9rem;
  }
  
  .input:focus {
    outline: none;
    border-color: #f59e0b; /* Borde naranja al enfocar */
    box-shadow: 0 0 0 3px rgba(245, 158, 11, 0.2); /* Sombra naranja al enfocar */
  }
  
  .button {
    background-color: #ea9d46; /* Rojo */
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s ease; /* Transición suave al cambiar de color */
  }
  
  .button:hover {
    background-color: #ea9d46; /* Rojo más oscuro al pasar el mouse */
  }
  
  .codeDisplay {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #6b7280; /* Color gris para el código único */
  }
  
  .copyButton {
    background-color: transparent; /* Fondo transparente */
    border: none;
    cursor: pointer;
    padding: 0.5rem; /* Ajusta el padding según el tamaño del icono */
    display: flex;
    align-items: center; /* Centrar verticalmente el icono */
  }
  
  .copyIcon {
    width: 20px; /* Ajusta el tamaño del icono */
    height: 20px;
    fill: #63001a; /* Color rojo para el icono */
  }