/* Header.module.css */
.header {
    background-color: #800000; /* Color guinda */
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    max-height: 3rem; /* Ajusta según el tamaño de tu logo */
  }
  
  .buttons {
    display: flex;
    gap: 1rem;
  }
  
  .button {
    background-color: #63001a; /* Color rojo claro */
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .modal {
    /* Estilos del modal (puedes personalizarlos) */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  