/* Header.module.css (dentro de la carpeta LandingPage) */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #800000; /* Color vinotinto */
  color: white;
  padding: 1rem;
}

.logo {
  /* Estilos para el logo (tamaño, márgenes, etc.) */
  max-width: 150px; /* Ajusta el ancho máximo según el tamaño de tu logo */
}

.logo img {
  width: 100%;
  height: auto;
}

.menu {
  display: flex;
  gap: 1rem; /* Espacio entre los elementos del menú */
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease;
}

.menu a:hover {
  color: #f87171; /* Color rojo claro al pasar el mouse */
}

.banner {
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 100%;
}

.bannerImage {
  width: 100%;
  height: 400px; /* Ajusta la altura según tus necesidades */
  object-fit: cover;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.playButton:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.playButton svg {
  /* Estilos para el icono de reproducción (usa tu biblioteca de iconos) */
  width: 24px;
  height: 24px;
  fill: #dc2626;
}
