/* ImageGallery.module.css */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
  
  .imageContainer {
    width: 100%;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out; /* Transición suave de opacidad */
  }
  
  .image.hidden {
    opacity: 0;
  }