/* ImageGallery.module.css */
.gallery {
    /* Estilos generales de la galería (puedes personalizarlos) */
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 100%; /* Ocupa toda la altura disponible */
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cubre todo el espacio del contenedor */
    border: 1px solid white; /* Borde blanco */
  }
  