/* LandingPage.module.css */
.landingPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f2f2; /* Fondo gris claro */
}

.content {
  display: flex; /* Flexbox para organizar las secciones izquierda y derecha */
  flex: 1;
  flex-direction: column; /* Apila las secciones en vertical en pantallas pequeñas */
  margin: 2rem auto;
  width: 97%;
  padding: 0 1rem;
}

@media (min-width: 768px) {
.content {
  max-width: 1250px;
}
    }

/* Sección izquierda (formulario y galería pequeña) */
.leftSection {
  order: 2; /* En pantallas pequeñas, el formulario va debajo de la galería */
  margin-right: 0;
  width: 100%;
}

.formContainer {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 33%; 
  margin-bottom: 2rem; /* Margen inferior en pantallas grandes */
}

.gallerySmall {
  display: flex; 
  gap: 1rem;
}

.galleryCont1 img {
  width: 311px!important;
  height: 151px!important;
}

.galleryCont1 {
  margin-top: 163px;
}

.gallerycontent2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gallerycontent2 img {
  width: 311px!important;
  height: 151px!important;
}

/* Sección derecha (DiscountBox y galerías) */
.rightSection {
  order: 1; 
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}

.galleryTop img {
  width: 311px!important;
  height: 190px!important;
}

.topBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.galleryTop {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  height: 100%; /* Altura fija para la galería superior derecha */
}

.galleryBottom {
  width: 100%; /* Altura fija para la imagen inferior derecha */
  object-fit: cover;
  border: 1px solid white;
}

.galleryBottom img {
  height: 160px!important;
}

/* Estilos para las imágenes */
.image {
  width: 100%;
  object-fit: cover; /* Cubre todo el espacio del contenedor manteniendo la proporción de aspecto */
  border: 1px solid white;
}

/* Media query para pantallas más grandes */
@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }

  .leftSection {
    order: 1;
    margin-right: 2rem;
    width: 50%;
  }

  .rightSection {
    order: 2;
    width: 50%;
  }

  .gallerySmall {
    grid-template-columns: repeat(3, 1fr);
  }

  .topBox {
    flex-direction: row; /* Diseño horizontal en pantallas grandes */
    align-items: center; /* Alinea verticalmente los elementos al centro */
  }

  .topBox > div { /* Aplicar a los hijos directos de .topBox */
    width: 50%;
  }

  .formContainer {
    margin-bottom: 20px; /* Eliminamos el margen inferior en pantallas grandes */
  }
}
