/* UniqueCodeForm.module.css */
.formContainer {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
    text-align: center; /* Alineación del texto al centro */
  }
  
  .title {
    font-size: 1.8rem; /* Tamaño de fuente más grande */
    font-weight: bold;
    margin-bottom: 0.5rem; /* Reducir el margen inferior */
  }
  
  .tourSection {
    margin-bottom: 2rem;
    text-align: left; /* Alineación del texto a la izquierda */
  }
  
  .tourTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .tags {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem; /* Agregar margen inferior a las etiquetas */
  }
  
  .tag {
    background-color: #f0f0f0; /* Color de fondo más claro */
    padding: 0.4rem 0.8rem; /* Aumentar el padding */
    border-radius: 20px; /* Bordes más redondeados */
    font-size: 0.9rem; /* Tamaño de fuente más grande */
    font-weight: 500; /* Fuente semi-negrita */
  }
  
  .offer {
    font-size: 1.2rem; /* Tamaño de fuente más grande */
    color: #dc2626;
    font-weight: bold;
  }
  
  .form {
    display: flex;
    flex-direction: column; /* Organizar los elementos en columna */
  }
  
  .input {
    padding: 1rem; /* Aumentar el padding */
    border: 1px solid #ccc;
    border-radius: 8px; /* Bordes más redondeados */
    margin-bottom: 1rem; /* Espacio entre el input y el botón */
    width: 100%; /* Ancho completo */
    box-sizing: border-box; /* Incluir el borde y el padding en el ancho total */
  }
  
  .button {
    background-color: #dc2626;
    color: white;
    padding: 1rem; /* Aumentar el padding */
    border: none;
    border-radius: 8px; /* Bordes más redondeados */
    cursor: pointer;
    font-weight: bold;
  }
  