/* Header.css */
.header {
    background-color: #63001a; /* Rojo */
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between; /* Distribuye elementos horizontalmente */
    align-items: center; /* Alinea elementos verticalmente */
  }
  
  .logo {
    height: 40px; /* Ajusta la altura del logo según tus necesidades */
  }
  
  /* Estilos para la navegación (puedes personalizarlos) */
  .navigation ul {
    list-style: none; /* Elimina los puntos de la lista */
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navigation li {
    margin-left: 20px;
  }
  
  .navigation a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease; /* Transición suave para todos los cambios */
  }
  
  .navigation a:hover {
    transform: translateY(-2px); /* Mueve el enlace ligeramente hacia arriba */
    text-shadow: 0 0 5px white; /* Agrega un ligero resplandor al texto */
  }